h1{
  font-size: 40px;

  text-align: center;
}

table , tr ,td{
  margin: 0px auto;
  height: 100px;
  width: 300px;
  background-color: #fffff0;
  border:  1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 60px;
  font-weight:200;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#reload ,#start{
  background-color: lightgreen;
  margin-top: 50px;
  font-size: 25px;
}
#display{
  text-align: center;
  font-size: 25px;
}

.body{
  text-align: center;
  background-color: lightpink;
}
.gameBody{
  text-align: center;
}
